absl-py==2.1.0
accelerate==1.6.0
albumentations==2.0.5
alembic==1.13.3
anomalib==1.2.0
anyio==4.6.0
boto3==1.35.25
botocore==1.35.34
certifi==2024.8.30
cffi==1.17.1
cryptography==44.0.1
Django==4.2.17
django-cors-headers==3.6.0
django-csp==3.7
django-environ==0.10.0
django-extensions==3.2.3
django-filter==2.4.0
djangorestframework==3.15.2
einops==0.8.0
filelock==3.16.1
fiftyone==1.4.1
fiftyone-brain==0.20.1
fonttools==4.54.1
fsspec==2024.6.1
FrEIA==0.2
gitdb==4.0.11
GitPython==3.1.43
huggingface-hub==0.30.2
importlib_metadata==8.5.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
kornia==0.7.4
lightning==2.4.0
matplotlib==3.9.2
mongoengine==0.29.1
motor==3.6.0
networkx==3.3
numpy==2.1.1
opencv-python==4.10.0.84
onnx==1.17.0
onnxruntime==1.21.0
openai==1.72.0
pandas==2.2.3
pillow==10.4.0
plotly==5.24.1
protobuf==5.26.1
psycopg2-binary==2.9.10
PyYAML==6.0.2
requests==2.32.3
rfdetr==1.3.0
rq==1.10.1
scikit-image==0.25.1
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
SQLAlchemy==2.0.35
tensorboard==2.18.0
torch==2.5.1
torchmetrics==1.6.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.49.0
umap-learn==0.5.7
wandb==0.19.9
Werkzeug==3.0.4



fastapi==0.115.12
fastmcp==2.3.3
uvicorn==0.34.2

openai==2.15.0
google-generativeai==0.8.5
google-ai-generativelanguage==0.6.15
google-api-python-client==2.170.0
google-auth-httplib2==0.2.0
groq==0.24.0

gradio==5.29.0
gradio_client==1.10.0
ffmpy==0.5.0

httpx==0.28.1
httpx-sse==0.4.0
python-multipart==0.0.20
pydantic-settings==2.9.1
openapi-pydantic==0.5.1
python-dotenv==1.1.0

asyncio==3.4.3
exceptiongroup==1.2.2
httplib2==0.22.0
orjson==3.10.18
pydub==0.25.1
safehttpx==0.1.6
semantic-version==2.10.0
shellingham==1.5.4
tomlkit==0.13.2
typer==0.15.3
typing-inspection==0.4.0
websockets==15.0.1

anyio==4.9.0
rich==14.0.0
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
ruff==0.11.9
starlette==0.46.2
ultralytics==8.3.140

groovy==0.1.2

datasets==3.5.0
nuscenes-devkit @ git+https://github.com/daniel-bogdoll/nuscenes-devkit.git@e9a832e608484c5496c6236ed78a185be6d7a44b
colorlog==6.8.2
imgaug @ git+https://github.com/beastless/imgaug.git@a24a2215d3efb6260ea8456c7661ddc91b1a9160
